@media only screen and (max-width: 804px) {

    .nav-links {
        display: none !important;
    }

    .hamburger-menu-icon {
        display: block !important;
    }

    .navbar {
        flex-direction: row !important;
        gap: 16px !important;
        align-items: center !important;
    }
}

@media only screen and (max-width: 1023px) {
    .course-card {
        flex: 1 1 476px;
        max-width: 571px;
        min-width: 264px;
        height: 246px;
        background-color: #FFFFFF;
        padding: 24px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
}

@media only screen and (min-width: 1524px) {
    .courses {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        justify-content: flex-start;
        padding: 0 24px;
        margin-bottom: 32px;
    }
}