* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    overflow-x: hidden;
    background-color: #FFFFFF;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    min-width: 490px;
}

header {
    margin: 0 auto 0 auto;
    width: 100%;
    max-width: 1024px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    background-image: url('../Assests/header pattern image.png');
    padding-left: 28.88px;
    padding-right: 24px;
    height: 56px;
    z-index: 1000;
}

.quantum-logo img {
    height: 36px;
    width: auto;
}

.navbar {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    align-items: center;
}

a{
    text-decoration: none;
}

.nav-links {
    text-decoration: none;
    color: #3FD28B;
    font-size: 14px;
    font-weight: 500;
    border-bottom: 4px solid transparent;
    transition: all 0.2s ease-in-out;
    padding-top: 18px;
    padding-bottom: 18px;
}

.nav-links:hover {
    color: #ffffff;
    border-bottom: 4px solid #ffffff;
    cursor: pointer;
}

.nav-links.active {
    color: #ffffff;
    border-bottom: 4px solid #ffffff;
}

.hamburger-menu-icon{
    display: none;
}

.hamburger-menu-icon img{
    width: 32px;
    height: 32px;
}

main {
    width: 100%;
    max-width: 1024px;
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 56px;
}

.dashboard-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    background-color: #8DDC97;
    margin: 24px;
}

.dashboard-header-tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 12px;
}

.dashboard-header-tabs {
    cursor: pointer;
}

.dashboard-header-tabs:hover {
    background-color: #7CCF8A;
}


.dashboard-header-tabs.active {
    border-bottom: #000000 4px solid;
}

.course-sort {
    margin: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    padding-bottom: 24px;
    border-bottom: rgba(0, 0, 0, 0.12) 1px solid;
}

.sorting {
    display: flex;
    align-items: center;
    gap: 6px;
}

select {
    border: hidden;
    background-color: #EEEEEE;
    border-bottom: rgba(0, 0, 0, 0.12) 1px solid;
}

.custom-select {
    appearance: none;
    background-image: url('../Assests/icons/arrow-down.svg');
    background-repeat: no-repeat;
    background-position: right -7px center;
    padding: 2px 88px 5px 0px;
}

select:focus {
    outline: none;
    box-shadow: none;
}

.courses {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    padding: 0 24px;
    margin-bottom: 32px;
}


.course-card {
    flex: 1 1 476px; 
    max-width: 571px;
    min-width: 264px;
    height: 246px;
    background-color: #FFFFFF;
    padding: 24px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.course-info {
    display: flex;
    flex-direction: row;
    gap: 16px;
    border-bottom: rgba(0, 0, 0, 0.12) 1px solid;
    padding-bottom: 16px;
    margin-bottom: 15px;
}

.course-details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.course-detials-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.course-title {
    max-width: 250px;
    font-size: 16px;
    font-weight: 600;
    color: #222;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-break: normal;
    overflow-wrap: normal;
    margin-bottom: 7px;
    line-clamp: 2;
}

.favourite-icon {
    filter: brightness(95%) sepia(0%) saturate(0%) hue-rotate(0deg) opacity(0.6) drop-shadow(0 0 0 #EEEEEE);
    transition: filter 0.3s ease;
    cursor: pointer;
    width: 20px;
    height: 24px;
}

.favourite-icon:hover {
    filter: brightness(100%) sepia(0%) saturate(0%) hue-rotate(0deg) opacity(1) drop-shadow(0 0 0 #EEEEEE);
}

.favourite-icon.active {
    filter: none
}

.course-details-small {
    font-size: 12px;
    color: #666666;
    margin-bottom: 7px;
}

.course-details-small span {
    color: #1F7A54;
}

.course-details-small strong {
    color: #222222;
}

.teacher-input {
    margin-bottom: 8px;
}

.teacher-input select {
    font-size: 16px;
    font-weight: 500;
    color: #333333;
}

.card-icons {
    display: flex;
    flex-direction: row;
    gap: 101px;
    margin-top: auto;
    justify-content: space-around;
}

.card-icon:hover {
    filter: brightness(50%);
}

.card-icon.toggle{
    opacity: 0.4;
}

.preview-icon {
    width: 22px;
    height: 24px;
    cursor: pointer;
}

.manage-course-icon {
    width: 18px;
    height: 20px;
    cursor: pointer;
}

.grade-submissions-icon {
    width: 18px;
    height: 20px;
    cursor: pointer;
}

.reports-icon {
    width: 18px;
    height: 24px;
    cursor: pointer;
}

.about-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.about {
    padding-right: 10px;
    border-right: rgba(0, 0, 0, 0.12) 1px solid;
}

.contact-us {
    padding-left: 10px;
}

.about-links {
    color: #1F7A54;
    text-decoration: none;
}

.about-links:hover {
    text-decoration: underline;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto;
    width: 100%;
    max-width: 1024px;
    height: 40px;
    background-color: #E0E1E1;
}

.footer-content {
    height: 100%;
    font-size: 14px;
    color: #666666;
}

.quantum-logo {
    padding-right: 16px;
    border-right: rgba(0, 0, 0, 0.12) 1px solid;
    cursor: pointer;
}

.footer-text {
    padding-left: 16px;
    color: #616161;
    font-size: 12px;
}

select{
    cursor: pointer;
}

.preview-dropdown {
    position: absolute;
    top: 56px;
    right: 24px;
    min-width: 220px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.15);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px) scale(0.98);
    transition: opacity 0.3s cubic-bezier(.4,0,.2,1), transform 0.3s cubic-bezier(.4,0,.2,1);
    z-index: 2000;
    font-size: 14px;
    color: #222;
    display: flex;
    flex-direction: column;
    
}

.preview-dropdown.show {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0) scale(1);
}

#hamburger-menu-preview {
    gap: 8px;
    width: 280px;
    padding-left: 16px;
    padding-right: 24px;
}

.hamburger-tabs-container{
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0px;
    justify-content: space-between;
}

.hamburger-nav-links {
    color: #1F7A54;
    text-decoration: none;
}

#hamburger-menu-preview.show {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0) scale(1);
}

#alert-preview{
    width: 315px;
    box-shadow: 0px 3px 6px #00000029;
}

.alert-scrollable{
    max-height: 534px;
    overflow-y: auto; 
    flex-grow: 1;
    scrollbar-gutter: stable;
}

.alert-scrollable::-webkit-scrollbar {
    width: 4px;
}

.alert-scrollable::-webkit-scrollbar-track {
  background: transparent; 
  border-radius: 4px;
}

.alert-scrollable::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 4px;
}

.alert-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    padding: 15px;
    background-color: #FFFFEE;
    border-bottom: #2222221F 1px solid;
}

.alert-container.read{
    background-color: #FFFFFF;
}

.primary-line{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.alert-header {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-break: normal;
    overflow-wrap: normal;
    max-width: 260px;
    line-clamp: 2;
}

.green-check img{
    height: 16px;
    width: 16px;
    cursor: pointer;
}

.label{
    display: inline-block;
    padding: 1px;
    color: #6E6E6E;
    font-size: 12px;
}

.name{
    color: #222222;
    font-size: 12px;
}

.secondary-line{
    color: #222222;
    font-size: 14px;
    font-weight: 500;
    max-width: 254px;
}

.alert-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

.alert-info > div{
    flex: 1 0 0;
}

.alert-buttons {
    display: flex;
    justify-content: space-around;
    height: 48px;
    flex-grow: 1;
    box-shadow: 0px 1px 6px #0000003D;
}

.buttons {
    background-color: #FFFFFF;
    color: #1F7A54;
    border: none;
    font-size: 14px;
    cursor: pointer;
    flex: 1;
} 

.buttons:hover {
    background-color: #F0F0F0;
}

#announcement-preview{
    width: 315px;
    box-shadow: 0px 3px 6px #00000029;
}

.course-label{
    color: #222222;

}
